.grouping--kanban-columns {
  overflow: scroll;
}
.project__link {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#block-porter-local-tasks {
  margin-bottom: 10px;
}
